app-edit-profile-form {
  
  .logo {
    width: 100%;
    height: auto;
    max-width: 18em;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  
  .form {
    bottom: 60px;
  }
  
  .profilePic {
    width: 80px; 
    height: 80px; 
    border-radius: 100%;
    z-index: 1000;
  }
  
  // Cover image
  .profile-bg {
    // position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 160px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  .addCover {
    font-size: 11px;
  }
  
  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    ion-col.col {
      margin: 0 auto;
      max-width: 40%;
    }
  }
  
  ion-item {
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    opacity: 0.7;
  }
  ion-list {
    margin: 0;
  }
  .login {
    width: 70%;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .back {
    border-radius: 5px;
    font-size: 0.9em;
  } 
  
  .datetime-text:empty:not(:focus):before{  
    content: "Date de naissance";
    // font-size: 13px;
  }
  
  
  
}
