page-myoffer {

  .h2 {
    font-size: 14px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  
  // Gère la limite du texte et les 3 '...'
  .offerComment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-size: 12px;
  }
  
  p.block {
    width: 300px;
  }
  
  ion-note {
    font-size: 10px;
  }

  .container1 {
    text-align: center;
    padding-top: 20%;
  }
}
