page-user-profile {

  ion-content {
    background: linear-gradient(0deg, #eeeef1 0%, white 80%, white 100%);
  }
  button,
  ion-button,
  .button-md,
  .button-ios {
    text-transform: none !important;
  }
  p {
    color: #444;
  }
  // Photo de couverture
  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 160px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  // Contenu du profil
  #content {
    position: relative;
    margin-top: 80px;
    // padding-top: 200px;
    text-align: center;
  }
  // Photo de profil
  #profile-image {
    display: block;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
  }
  #profile-info {
    text-align: center;
    padding-bottom: 0;
  }
  #profile-name {
    color: #444;
    font-size: 26px;
    font-family: pacifico;
  }
  .profile-description {
    font-size: 15px;
    color: #888;
  }
  
  .descriptionContainer {
    text-align: center;
  }
  .yo {
    padding-left: 10%;
    padding-right: 10%;
  }
  .follow-button {
    text-transform: none;
    border-radius: 3px !important;
    // ion-icon {
      //   font-weight: bold;
      //   padding-left: 5px;
      //   font-size: 2.5rem;
      // }
    }
    // Following, Followers and all..
    .profile-numbers {
      p {
        // color: #444;
        font-size: 14px;
        margin-bottom: 3px;
        position: relative;
      }
      span {
        font-weight: bold;
        font-size: 2.4rem;
        // color: #34354c;
      }
    }
    hr {
      border: 0;
      height: 1px;
      background: #444;
      background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
    }
    
    .statut {
      padding-top: 10px;
      p {
        color: color($colors, orangé, base);
      }
    }
    
    .statut__line {
      margin: 0;
    }
    
    .numbers {
      position: relative;
    }
    
    i {
      padding-left: 8px;
    }
    
    .i2 {
      top: 200px;
      z-index: 1000;
    }
    
    .iconTransport {
      font-size: 15px;
      position: absolute;
      top: 255px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .iconDesc, .iconStar {
      font-size: 30px;
      // position: absolute;
    }
    
    .iconBadge {
      font-size: 20px;
      padding-left: 5px;
    }
    
    .text {
      color: color($colors, orangé, base);
      // position: absolute;
      text-align: center;
    }
    
    #editPhoto {
      position: absolute;
      top: 130px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .buttons {
      text-align: center;
    }
    
    .textJobber {
      text-align: center;
      // width: 100px;
      padding-left: 10%;
      padding-right: 10%;
    }
    
    .info {
      text-align: left;
      ion-item {
        color: #444;
      }
      ion-icon {
        color: color($colors, bleu, base);
      }
      ion-note {
        color: rgba(255, 78, 8, 0.37);
      }
    }
    
    .info2 {
      text-align: left;
      ion-item {
        color: #444;
      }
      ion-icon {
        color: color($colors, orangé, base);
      }
      ion-note {
        color: rgba(255, 78, 8, 0.473);
      }
      ion-list {
        padding-top: 20px;
      }
    }
    
    .textDescription {
      padding-left: 5%;
      padding-right: 5%;
      p {
        font-size: 13px;
      }
    }
    
    .accordeon {
      p {
        font-size: 13px;
        padding-left: 5%;
        padding-right: 5%;
      }
      ion-label {
        margin-top:0;
        margin-bottom: 0;
      }
      ion-item {
        background-color: #ebebeb00;
      }
    }
    
    .job {
      display: inline-block;
      vertical-align: top;
    }
    
    .dot {
      display: inline-block;
      vertical-align: top;
    }
    
    .location {
      display: inline-block;
      vertical-align: top;
    }
    
    .date {
      font-style: italic; 
      font-size: 12px;
      margin-bottom:0;
      color: color($colors, bleu, base);
    }

}
